@import "tailwindcss";

@import "@nuxt/ui";

@theme {
  --shadow-tag: 0px 4px 4px 0px rgb(0 0 0 / 0.25);
  --shadow-tag-hover: 0px 4px 4px 2px rgb(0 0 0 / 0.25);

}

@utility card-cover{
    background: linear-gradient(180deg,rgba(200, 197, 187, 0) 50%, rgba(65, 65, 65, 0.75) 78%, rgba(32, 32, 32, 1) 100%);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
