@import "tailwindcss";

@import "@nuxt/ui";

@theme {
  --shadow-tag: 0px 4px 4px 0px rgb(0 0 0 / 0.25);
  --shadow-tag-hover: 0px 4px 4px 2px rgb(0 0 0 / 0.25);
  --font-azarmehr: AzarMehr;
  --font-azarmehrbold: AzarMehrBold;
}

@utility card-cover{
    background: linear-gradient(180deg,rgba(200, 197, 187, 0) 50%, rgba(65, 65, 65, 0.75) 78%, rgba(32, 32, 32, 1) 100%);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}


@font-face {
  font-family: AzarMehr;
  font-style: normal;
  src: url("../font/azarmehr/400-AzarMehr-FD-Regular.woff2") format("woff2");
}

@font-face {
  font-family: AzarMehrBold;
  font-style: normal;
  src: url("../font/azarmehr/700-AzarMehr-FD-Bold.woff2") format("woff2");
}
